/*General settings*/

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.flex-r {
    display: flex;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
}



.wrapper {
    width: 1000px;

}

section,
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 50px 0;
}

.intro,
header,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.quote {
    background-color: #E5E7EB;
}

/*Header*/

header {
    padding: 16px 0;
}

header .wrapper {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header a {
    margin-left: 16px;
    color: #e5e7eb;
    font-size: 16px;
}

header a:hover {
    text-decoration: underline;
    margin-left: 16px;
    font-size: 16px;
}

/*Into section*/

.intro .wrapper {
    align-items: stretch;
}

.intro-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: white;
}

.intro-left {
    margin-right: 50px;
}

.intro-title {
    font-size: 48px;
    margin: 0 0 16px 0;
}

.intro-text {
    color: #e5e7eb;
    font-size: 16px;
    margin-bottom: 16px;
}

.intro-button {
    background-color: #3882f6;
    border-radius: 8px;
    width: fit-content;
    padding: 8px 16px;
}

/*Random info section*/



.random-info .wrapper {
    justify-content: center;
    padding: 70px 0;
}

.random-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
    margin-top: 0;

}

.random-info {
    text-align: center;
}

.item-wrapper {
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 16px;
    color: #1f2937;

}

.square {
    flex: none;
    width: 150px;
    height: 150px;
    border: solid 2px #3882f6;
    border-radius: 8px;
    margin-bottom: 16px;
}

/*Quote section*/

.quote .wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #1f2937;
    width: 810px;
    padding: 100px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 0px;

}

.quote-name {
    font-weight: bold;
    font-size: 16px;
    margin-right: 16px
}